body {
    background-image: url("images/pokearena.png");
    /*background-color: rgba(211, 211, 211, 0.3);*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: bottom;*/
    box-sizing: border-box;
}

.gameHeader{
    font-size: 1.75em;
    text-align: center;
    color: red;
}

/*add functionality with jQuery to change this class's border color & font color on turn*/
.playerTurnDisplay {
    width: 16%;
    color: blue;
    background-color: lightgoldenrodyellow;
    border: 6px solid deepskyblue;
    height: 3vmin;
    font-size: 1.25em;
    text-align: center;
    margin: 3vmin auto 3vmin auto;
}

#game-board {
    height: 80vmin;
    width: 80vmin;
    margin: auto;
}

.player1PiecesWon {
    color: #2e86c0;
    font-size: 1.4em;
    height: 5vmin;
    text-align: center;
    margin: 1vmin 0 0 0;
}

.player2PiecesWon {
    color: darkorange;
    font-size: 1.4em;
    height: 5vmin;
    text-align: center;
    margin: 2vmin;
}

.row {
    display: flex;
    height: 12.5%;
}

.square {
    display: inline-block;
    height: 100%;
    width: 12.5%;
}
.light {
    background-color: antiquewhite;
}

.dark {
    background-color: red;
}

.imgPlayer1 {
    background-image: url("images/squirtlemini2.png");
    background-repeat: no-repeat;
    background-size: 93%;
}
/*I changed  background-size above^ to 93% because Squirtle was a bit bigger than Charmander*/

.imgPlayer2 {
    background-image: url("images/charmandermini.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.imgKingPlayer1 {
    background-image: url("images/blastoise.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.imgKingPlayer2 {
    background-image: url("images/charizard.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.selected{
    border: 3px solid red;
}
.selectedToMove{
    border: 3px dotted green;
    animation: blink 0.5s linear infinite;
}
@keyframes blink {
    50% {
       border-color: rebeccapurple;
    }
    75%{
        border-color: chartreuse;
    }
}

.modal {
    display: none;
}